html, body {
    line-height: 1.5;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    

}

nav {
    position: fixed;
    top: -2px;
    width: 300px;
    height: 99%;
    border: 2px solid rgba(0, 22, 22, 0.4);
    box-sizing: border-box;
    margin-right: 10px;
    border-bottom: none;
}

#nav-title {
    font-size: 30px;
    text-align: center;
    margin: 10px 0;
}

nav ul li {
    padding: 10px 30px;
    border-top: 1px solid black;
    font-size: 16px;
    
}

nav ul {
    height: 89%;
    margin: 25px 0;
    overflow-y: auto;
    overflow-x: hidden;
    line-height: 1.5;
    max-width: 700px;
}

main {
    margin: 0 0 0 310px;
    padding: 20px;
    max-width: 900px;
}

a {
    text-decoration: none;
    color: black;
}

/* Reprogramacion del codigo en bloques reutilizables */

section header {
    font-size: 28.8px;
}

section article ul li, section article p {
    margin: 16px 0;
}

section article ul li {
    list-style:disc;
    margin-left: 50px;
}

article {
    margin: 15px;
}

section article code {
    display: block;
    background-color:aliceblue;
    padding: 20px;
    box-sizing: border-box;
    padding-right: 350px;
    margin-left: 20px;
    border-radius: 5px;
}

section article ul li ul li {
    list-style-type: circle;
}

section article ul li a {
    border-bottom: 1px solid black;
}

 section article ul li a:hover {
    color: rgb(122, 141, 211);
}